header {
    display: flex;
    width: 100%;
    background-color: salmon;
    color: #ffffff;
    font-family: 'Noto Sans';

}

.hero {
    padding: 15px;
    font-family: 'Noto Sans';
}

.hero p {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;

}

main {
    display: flex;
    border: red 1px solid;
    background-color: oldlace;

}
#column {
    flex-direction: column;
    height: 100%;
    border: yellow solid 1px;


}

#column img {
    width: 45%; 
    padding-bottom: 1%; 
    border-radius: 70%; 
    overflow: hidden; 
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#column ul {
    padding: 10px;
}

article {
    border: pink solid 5px;
}

#exp {
    width: 100%;
    border: blue 2px solid;
}

#edu {
    width: 100%;
    border: orange 2px solid;
}
footer {
    display: flex;
    border: green 1px solid;
    height: 500px;
}

