
header {
    display: flex;
    width: 100%;
    background-color: salmon;
    color: #ffffff;
    font-family: 'Staatliches' cursive;
    padding: 5px;
    padding-bottom: 30px;

}


h1 {
    font-size: 4rem;
    font-family: 'Staatliches' cursive;

    

}

main {
    display: flex;
    border: red 1px solid;
    background-color: oldlace;
    width: auto;

}
#column {
    flex-direction: column;
    height: 100%;
    border: yellow solid 1px;
    font-family: 'Noto Sans', sans-serif;
    


}

#column p {
    text-align: center;
    color: salmon;
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
}



#column img {
    width: 45%; 
    padding-bottom: 1%; 
    border-radius: 70%; 
    overflow: hidden; 
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#column ul {
    padding: 20px;
}

#column li {
padding-top: 10px;
padding-bottom: 10px;
}

#column blockquote {
    text-align: center;
    color: white;
    font-size: 3rem;
    background-color: salmon;
    font-family: 'Staatliches', cursive;
    padding: 10px;


}

article {
    border: pink solid 5px;
}

#exp {
    width: 100%;
    border: blue 2px solid;
}

#edu {
    width: 100%;
    border: orange 2px solid;
}
footer {
    display: flex;
    height: 300px;
    background-color: salmon;
}

@media only screen and (max-width: 600px) {
    main {
      display: block;
    }
  }