header {
    display: flex;
    border: black 1px solid;
    width: 100%;
}

main {
    display: flex;
    border: red 1px solid;

}
#column {
    flex-direction: column;

    height: 100%;
    border: yellow solid 1px;

}

article {
    border: pink solid 5px;
}

#exp {
    width: 100%;
    border: blue 2px solid;
}

#edu {
    width: 100%;
    border: orange 2px solid;
}
footer {
    display: flex;
    border: green 1px solid;
    height: 500px;
}

