ul {
list-style: none;
}

body {
    justify-content: center;
    vertical-align: middle;
    font-size: 1.5rem;
}


 .container {
    justify-content: center;
    border: rgb(250, 236, 198) solid 5px;
    flex-flow: row wrap;
    display: flex;
    border-radius: 50px;
    width: 30rem;
    height: 50%;
    padding: 10px;
    background-color: rgb(252, 243, 224);
}

.container input {

    width: 80%;
    height: 50px;
    margin: .5%;
    border-radius: 10px;
    background-color: rgba(126, 106, 90, 0.644);
    text: grey;
    margin: 5%;

}


.container div {
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
    height: 50px;
    width: 100px;
    margin: 2%;
    border-radius: 10px;

}

.container .equ 
{
    background-color: rgb(190, 37, 37) !important;

}

.container .clear {
    background-color: rgb(250, 136, 6);
}

.container .clear:hover {
    filter: drop-shadow(5px 2px 1px #888787);
    background-color: rgb(250, 136, 6) !important;

}



.container div:hover {
    background-color: rgb(175, 221, 161);
}



.container div:hover {
    background-color: rgb(49, 48, 48);
    color: white;
    filter: drop-shadow(5px 2px 1px #888787);
    
}

