body {
    display: flex;
    height: 800px;

}

#tower {
    display: flex;
    background: lightgrey;
    width: 30%;
    height: 500px;
    margin: 20px;
    align-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;
}

#block1 {
    height: 20%;
    width: 100%;
    background: coral;

}

#block2 {
    height: 20%;
    width: 75%;
    background: lightblue;

}

#block3 {
    height: 20%;
    width: 50%;
    background: lightyellow;

}