body {
    display: flex;
    justify-content: center;

}

body button {
    height: 20%;
    width: 10%;
    }

.gameBoard {
    display: flex;
    height: 45%;
    flex-wrap: wrap;
    width: 50%;
}

.gameBoard div {
    border: black solid 1px;
    height: 30vh;
    width: 30vh;
    text-align: center;
    font-size: 10rem;
    justify-content: center; 
}


